@import 'main.less';

.container {
  margin: 80px 120px;
  background-color: @white;
  padding: @base-padding;
  .header {
    text-align: center;
    border-bottom: 4px solid @gray;
    .avatar {
      &:extend(.image-size);
      border-radius: 50%;
      transform: translateY(-50%);
      margin-bottom: @base-margin;
    }
    .name {
      margin-top: -150 / 2px;
    }
    .introduce {
      .calculate-font-size(1.6);
      margin-bottom: @base-margin;
    }
  }
  .main {
    padding: @base-padding;
    .title {
      color: @primary-color;
    }
    .about-me {
      .detail {
        margin: @base-margin 0;
        font-size: 16px;
      }
    }
    .eduction {
      .eduction-list {
        margin: @base-margin 0;
        .eduction-item {
          display: flex;
          margin-bottom: @base-margin;
          .time {
            flex: 0 0 86px;
          }
          .detail {
            background-color: @background;
            padding: @base-padding;
            flex: 1;
            .title {
              margin: 0;
              color: @black;
              .calculate-font-size(1.8);
            }
            .description {
              margin-top: @base-padding;
              .calculate-font-size(1.6);
            }
          }
        }
      }
    }
  }
}
